body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
}

img {
    width: 100%;
}

/* práctica 3 */

.contenedor-media {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-areas:
        "titulo"
        "slogan"
        "info"
        "imagen"
        "entrada";
}

@media screen and (min-width:768px) {
    .contenedor-media {
        grid-template-areas:
            "titulo titulo"
            "imagen slogan"
            "imagen info"
            "entrada entrada";
        grid-template-columns: 50% 50%;
        /* definimos un ancho*/
    }
}


.titulo {
    grid-area: titulo;
}

.imagen {
    grid-area: imagen;
}

.slogan {
    grid-area: slogan
}

.info {
    grid-area: info
}

.entrada {
    grid-area: entrada
}